<template>
  <div class="main">
  <u>Contenu</u>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit aliquam nulla eu tempus. Integer auctor interdum nisi, in cursus orci dapibus vel. Donec sit amet lorem ac metus tincidunt mollis sed quis tortor. Morbi eu scelerisque quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque faucibus, lectus ac placerat lobortis, sem odio tincidunt dolor, id tristique tortor massa suscipit nulla. Praesent vitae mollis libero. Aliquam et erat at nibh vulputate placerat sit amet vel ipsum. Nam finibus, odio ut dignissim fermentum, ipsum augue convallis risus, sed tincidunt lacus leo ac enim. Maecenas at vulputate lacus, ac viverra libero. Nulla iaculis vulputate odio ac finibus. Nullam libero tellus, placerat sit amet augue ut, pellentesque pretium neque. Nulla eros quam, dignissim non libero id, maximus mattis nunc. Nulla pretium tellus eu lobortis sagittis. Curabitur maximus, elit eget eleifend rutrum, justo lacus pulvinar leo, vitae blandit risus dui ac purus. Mauris at dolor nibh.</p>
  </div>

</template>

<script>
export default {
  name: 'HomePage'
}
</script>

<style scoped>

  .main{
    border-style: solid;
    border-color:  green;
    margin: 3% 15%;

  }

</style>
