<template>
  <div>
  <h1 style="text-align: center; margin-bottom: 40px"> Listes de courses  nb:{{this.listes.liste.length}}</h1>
    <div class="col-md-12 text-center" style="margin-bottom: 40px">
        <a href="#/new" class="btn btn-primary btn-lg active" role="button" aria-disabled="true">Ajouter une liste</a>
    </div>

        <div v-for="liste in listes.liste" :key="liste.name" class="col-md-12 text-center">
          <div class="card" style="width: 18rem;">
            <img src="'../assets/'+ liste.shop + '.png'" class="card-img-top" ><!-- Marche Pas -->
<!--            <img src="../assets/Auchan.png"/>  marche-->
            <div class="card-body">
              <h5 class="card-title">     {{ liste.name }}</h5>
<!--              <p class="card-text">     {{ liste.shop }}</p>-->
              <p class="card-text">     {{ liste.desc }}</p>
              <div style="display: flex">
                <div class="col-md-6">
                  <a v-bind:href="'#/list/'+ liste.name" class="btn btn-primary">Voir liste</a>
                </div>
                <div class="col-md-2">
                  <a @click="del(liste)" class="btn btn-danger">X</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</template>

<script>
export default {
  name: 'Listing',
  data () {
    return {
      // eslint-disable-next-line no-unused-expressions,no-labels
      listes: JSON.parse(localStorage.getItem('listes'))
    }
  },
  methods: {
    del (liste) {
      for (let i = 0; i < liste.element.length; i++) {
        localStorage.removeItem(liste.element[i].name)
      }
      for (let i = 0; i < this.listes.liste.length; i++) {
        if (this.listes.liste[i].name === liste.name) {
          this.listes.liste.splice(i)
        }
      }
      localStorage.setItem('listes', JSON.stringify(this.listes))
      localStorage.removeItem(liste.name)
    }
  }
}
</script>

<style scoped>
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  }
</style>
