<template>
  <div id="app" >
    <h1 style="text-align: center; margin-bottom: 40px"> Ajouter un élément à la liste : {{liste.name}}</h1>
    <form :action="'#/list/'+ liste.name">
      <div class="form-group">
        <label for="name">Nom de l'élément</label>
        <input type="text" class="form-control" id="name" placeholder="Nom de l'élément" :value="element.name">
      </div>

      <div class="form-group">
        <label for="name">Prix de l'élément</label>
        <input type="number" class="form-control" id="price" placeholder="Prix de l'élément" :value="element.price">
      </div>

      <div class="form-group">
        <label for="name">Description de l'élément</label>
        <textarea class="form-control" id="desc" placeholder="Description de l'élément" :value="element.desc" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="name">lien vers l'élément</label>
        <input type="url" class="form-control" id="link" placeholder="lien vers l'élément" :value="element.link">
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" @click="create">Créer</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      element: {
        name: '',
        price: '',
        desc: '',
        link: ''
      },
      liste: JSON.parse(localStorage.getItem(document.location.href.split('/')[5]))
    }
  },
  methods: {
    constructorElem (name, price, desc, link, listes) {
      this.element = {
        name: name,
        price: price,
        desc: desc,
        link: link
      }
      let test = true
      for (let i = 0; i < this.liste.element.length; i++) {
        if (this.liste.element[i].name === name) {
          this.liste.element[i].price = price
          this.liste.element[i].desc = desc
          this.liste.element[i].link = link
          test = false
        }
      }
      if (test === true) {
        this.liste.element.push(this.element)
        for (let i = 0; i < listes.liste.length; i++) {
          if (listes.liste[i].name === this.liste.name) {
            listes.liste[i].element = this.liste.element
          }
        }
      }
      localStorage.setItem('listes', JSON.stringify(listes))
      localStorage.setItem(this.liste.name, JSON.stringify(this.liste))
      localStorage.setItem(name, JSON.stringify(this.element))
    },

    create () {
      let name = document.getElementById('name').value
      let price = document.getElementById('price').value
      let desc = document.getElementById('desc').value
      let link = document.getElementById('link').value
      this.constructorElem(name, price, desc, link, JSON.parse(localStorage.getItem('listes')))
    }
  }
}

</script>

<style scoped>

</style>
