<template>
  <div id="app" >
    <form action="#/listing">

      <div class="form-group">
        <label for="name">Nom de la liste</label>
        <input type="text" class="form-control" id="name" placeholder="Nom de la liste" :value="liste.name">
      </div>

      <div class="form-group">
        <label for="shop">Magasin</label>
        <select class="form-control" id="shop" :value="liste.shop">
          <option>Auchan</option>
          <option>Carrefour</option>
          <option>Boulanger</option>
        </select>
      </div>

      <div class="form-group">
        <label for="name">Description de la liste</label>
        <textarea class="form-control" id="desc" placeholder="Description de la liste" :value="liste.desc" rows="3"></textarea>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" @click="create">Créer</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      liste: {
        name: '',
        shop: '',
        desc: '',
        element: ''
      },
      listes: {
        liste: []
      }
    }
  },
  methods: {
    constructorListe (name, shop, desc, listes) {
      this.liste = {
        name: name,
        shop: shop,
        desc: desc,
        element: []
      }
      let test = true
      for (let i = 0; i < listes.liste.length; i++) {
        if (listes.liste[i].name === name) {
          listes.liste[i].shop = shop
          listes.liste[i].desc = desc
          test = false
        }
      }
      if (test === true) {
        listes.liste.push(this.liste)
      }
      localStorage.setItem('listes', JSON.stringify(listes))
      localStorage.setItem(name, JSON.stringify(this.liste))
    },

    constructorListes () {
      this.listes = {
        liste: []
      }
      localStorage.setItem('listes', JSON.stringify(this.listes))
    },

    create () {
      if (localStorage.getItem('listes')) {
      } else {
        this.constructorListes()
      }
      let name = document.getElementById('name').value
      let shop = document.getElementById('shop').value
      let desc = document.getElementById('desc').value
      this.constructorListe(name, shop, desc, JSON.parse(localStorage.getItem('listes')))
    }
  }
}

</script>

<style scoped>

</style>
