<template>
  <div>
    <h1 style="text-align: center; margin-bottom: 40px"> {{this.liste.name}} nb:{{this.liste.element.length}}</h1>
    <div class="col-md-12 text-center" style="margin-bottom: 40px">
      <a v-bind:href="'#/list/'+ liste.name + '/add'" class="btn btn-primary btn-lg active" role="button" aria-disabled="true">Ajouter un élément à la liste</a>
    </div>

    <div v-for="elem in liste.element" :key="elem.name" class="col-md-12 text-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">     {{ elem.name }}</h5>
          <p class="card-text">     {{ elem.price }}€</p>
          <p class="card-text">     {{ elem.desc }}</p>
          <a class="card-text" v-bind:href= elem.link>{{ elem.link }}</a>
          <div style="display: flex">
            <div class="col-md-2">
              <a @click="del(elem)" class="btn btn-danger">X</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data () {
    return {
      liste: JSON.parse(localStorage.getItem(document.location.href.split('/')[5])),
      listes: JSON.parse(localStorage.getItem('listes'))
    }
  },
  methods: {
    del (elem) {
      for (let i = 0; i < this.listes.liste.length; i++) {
        if (this.listes.liste[i].name === this.liste.name) {
          for (let j = 0; j < this.liste.element.length; j++) {
            if (this.liste.element[j].name === elem.name) {
              this.liste.element.splice(j)
              this.listes.liste[i].element.splice(j)
            }
          }
        }
      }

      localStorage.setItem('listes', JSON.stringify(this.listes))
      localStorage.setItem('liste', JSON.stringify(this.liste))
      localStorage.removeItem(elem.name)
    }
  }
}
</script>

<style scoped>
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  }
</style>
