<template>
  <div id="app">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#/"><img src="./assets/logo.png" width="128.5" height="98"/> #nleursShop</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto"></ul>
          <a @click="constructorListes" class="navbar-brand" href="#/listing">Mes Listes</a>
      </div>
    </nav>
    <hr />
    <router-view/>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <p> © 2020 Copyright: Leurs Nicolas</p>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      listes: {
        liste: []
      }
    }
  },
  methods: {
    constructorListes () {
      if (localStorage.getItem('listes') == null) {
        this.listes = {
          liste: []
        }
      } else {
        this.listes = JSON.parse(localStorage.getItem('listes'))
      }
      localStorage.setItem('listes', JSON.stringify(this.listes))
    }
  }
}
</script>

<style>
#app {
  /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*text-align: center;*/
  /*color: #2c3e50;*/
}
  body{
    margin: 0;
  }

.logo {
  width:150px;
  position: absolute;
  top: 10px;
  left: 50px;
}
.lien{
  position: absolute;
  right: 10%;
  top: 50px;
}
header {
  height:150px;
  border-style: solid;
  border-color:  blue;
}
footer {
  text-align: center;
  height: 50px;
  border-style: solid;
  border-color:  pink;
}
</style>
